.idea
.vscode
*/.DS_Store 
*.exe
static/uploadfile  
drshop
temp/
!temp
logs
docs
deploy
configs/

# go sum
go.sum 

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/ 
vendor 

